<html xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="thymeleaf/fragments/header :: header"></div>
    <meta charset="UTF-8">
    <!-- <script src="https://code.jquery.com/jqeury-3.4.1.min.js"></script> -->
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="/js/board.js"></script>
    <title>Insert title here</title>
</head>
<body>
<div th:replace="thymeleaf/fragments/nav :: nav"></div>
<form id="frm">
    <input type="hidden" value="" name="boardId" id="boardId">
    <div><span th:text="'제목 : '+${view.subject} "/><span th:text="'조회수 : '+${view.readCount}"/></div>
    <div><span th:text="'작성자 : '+${view.memberName}"/></div>
    <div><span th:text="'내용 : '+${view.content}"/></div>
    <button type="button" onclick='location.href="/board/list"'>목록</button>
    <button type="button" th:onclick="'fn_goUpdateView('+${view.boardId}+')'">수정</button>
    <button type="button" th:onclick="'fn_boardDelete('+${view.boardId}+')'">삭제</button>
</form>
<div th:replace="thymeleaf/fragments/footer :: footer"></div>
</body>
</html>