<!--<div th:fragment="footer(template)" class="container-fluid">-->
<div th:fragment="footer" class="container-fluid">
    <div class="container xd-container">
<!--        <th:block th:replace="${template}"/>-->
        <br/>
        <br/>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="../static/resources/images/spring-pivotal-logo.png"
                         th:src="@{/resources/images/spring-pivotal-logo.png}" alt="Sponsored by Pivotal"/>
                </div>
            </div>
        </div>
    </div>
</div>